body {
    background-image: linear-gradient(45deg, #e68f0e 20%, #dfa7dd 75%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
}
}
h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

#first {
    font-size: 1.7em;
    color: #333333;
    font-style: italic;     
}

.second {
    font-size: 2em;
}

li {
    font-family: 'Courier New', 'Courier', monospace;
    font-size: 1.2em;
}
button.addbutton {
  color: blue;
}
